@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components{
  /*body::before{*/
  /*  display: block;*/
  /*  content: '';*/
  /*  height: 56px;*/
  /*}*/
  /*button, input, textarea{*/
  /*  @apply outline-0*/
  /*}*/
  #links .active{
    @apply text-gray-200
  }
  ::-webkit-scrollbar-thumb{
    @apply bg-slate-900
  }
  ::-webkit-scrollbar-thumb{
    border-radius: 15px;
    border: 1px solid rgb(75 85 99);
  }
  ::-webkit-scrollbar{
    background-color: transparent;
    width: 8px;
  }
}